<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quản lý bán vé máy bay </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../vendor/2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="../vendor/2.js"></script>
</head>
<body class="hm-gradient">
	<div id="wrapper" class="animate">
		<nav class="mb-4 navbar fixed-top navbar-expand-lg navbar-dark cyan">
			<a class="navbar-brand font-bold" href="#"><i class="fas fa-plane-departure"></i></a>
			<span class="navbar-toggler-icon leftmenutrigger"></span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
				<ul class="navbar-nav animate side-nav page-sider-menu">
					<li class="nav-item">
						<a class="nav-link" href="manager.html"><i class="fa fa-home"></i><span>Trang chủ</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ticket.html">
							<i class="fas fa-money-check"></i>
							<span class="hidden-sm-down">Quản lý vé</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#menu1" class="nav-link collapsed" data-toggle="collapse" aria-expanded="false">
							<i class="far fa-calendar-alt"></i>
							<span>Quản lý giao dịch</span>
						</a>
					</li>
					<div class="collapse" id="menu1">
						<li class="nav-item">
							<a class="nav-link" href="pay.html" data-parent="#menu1"><i class="fa fa-tasks"></i><span>Phiếu thu</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="bill.html" data-parent="#menu1"><i class="fa fa-tasks"></i><span>Phiếu chi</span></a>
						</li>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="checkTicket.html"><i class="fa fa-object-group"></i><span>Đổi soát vé</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="custimers.html"><i class="fas fa-user-friends"></i><span>Khác hàng</span></a>
					</li>
					<li class="nav-item sl-active">
						<a class="nav-link" href="statistical.html"><i class="fa fa-object-group"></i><span>Thống kê</span></a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="../website/index.html"><i class="fa fa-globe"></i> Website </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
						<div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
							<a class="dropdown-item" href="user.html">My account</a>
							<a class="dropdown-item" href="../index.html">Log out</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<!--/.Navbar -->

		<div class="master-right">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="manager.html">Trang chủ</a>
				</li>
				<li class="breadcrumb-item active">
					Thống kê
				</li> 
			</ol>
			<div class="container">
				<div class="row" style="margin-right:0px">
					<div class="col-sm-12">
						<div id="statistical0"></div>
					</div>
				</div>

					<div class="row" style="margin-top:30px">
						<div class="col-sm-6">
							<div id="statistical1"></div>
							<hr class="d-sm-none">
						</div>
						<div class="col-sm-6">
							<div id="statistical2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
	</body>
	</html>


